html{
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

.wrapper {
    font-family: 'Varela Round', sans-serif;
    display: flex;
    flex-direction: column;
    background-image: url("../img/score-backround.jpg");
    background-size: cover;
    min-height: 100vh;
}

a{
    text-decoration: none;
    color: #000000;
}

main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    font-size: 2em;
    height: 100vh;
}

#jeux{
    margin-top: 1em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#jeux button{
    font-size: 0.6em;
    margin: 0.5em;
    min-width: 5em;
    cursor:pointer;
    border-radius: 25px;
    box-shadow: 0 5px #4d4d4d;
    transition: 0.15s;
}

#jeux button:hover{
    background-color: #cecece;
}

#jeux button:active{
    box-shadow: 0 2px #4d4d4d;
    transform: translateY(4px);
}

#jeux button:focus{
    outline: none;
}

#liste-nom{
    border: 2px solid #000000;
    margin-top: 2em;
    border-collapse: collapse;
    background-color: #d4d4d4e1;
}

th{
    border-bottom: 2px solid #000000;
    font-size: 0.5em;
    font-family: 'Montserrat', sans-serif; 
}

#liste-nom td{
    font-size: 0.5em;
    padding: 0.5em 0;    
    border-left: 2px solid #000000;
}

#block{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #0000005e;
}

#body input{
    height: 1em;
    width: 1em;
    cursor:pointer;
}

#body tr td{
    text-align: center;
}

#form-score{
    flex-direction: column;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    height: 90vh;
    width: 70vh;
    background-color: #000000b0;
}

#buttons{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0.5em 0;
}

#buttons button{
    border: none;
    background-color: #ffffff;
    cursor:pointer;    
    transition: 0.15s;
}

#buttons button:hover{
    background-color: #cecece;
}

#buttons button:focus{
    outline: none;
}

#form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

#form div{
    max-width: 10em;
    background-color:#ffffff;
    color: #000000;
}

#form input[type=text]{
    max-width: 9em;
}

#table-equipe{
    margin-top: 0.5em;
    border-collapse: collapse;
    text-align: center;
    background-color: #d4d4d4e1;
}

#table-equipe td{
    padding: 0.5em;
    border: 2px solid #000000;
    font-size: 0.75em;
}

#table-equipe td p{
    margin: 0;
}

#table-equipe td div{
    margin: 0.5em;
}

#table-equipe td button{
    background-color: #ffffff;
    font-size: 0.75em;
    margin: 0 0.5em;
    width: 1.5em;
    height: 1.5em;
    border-radius: 100%;
    border: none;
    cursor:pointer;
    transition: 0.15s;
}

#table-equipe td button:hover{
    background-color: #797979;
}

#table-equipe td button:active{
    transform: scale(0.85);
}


#table-equipe td button:focus{
    outline: none;
}

footer{
    background-color: #cecece69;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
}

#menu{
    margin: 1em;
    background-color: #ffffff;
    text-align: center;
    font-size: 1.5em;
    width: 5em;
    cursor:pointer;
    border-radius: 25px;
    box-shadow: 0 5px #4d4d4d;
    transition: 0.15s;
}

#menu:hover{
    background-color: #cecece;
}

#menu:active{
    box-shadow: 0 2px #4d4d4d;
    transform: translateY(4px);
}
/*
 Règle à ajouter pour tablette électronique
*/
@media (min-width: 700px){

}

/*
 Règle à ajouter pour ordinateur
*/
@media (min-width: 1000px){
    #jeux button{
        font-size: 0.75em;
    }

    th{
        font-size: 0.85em;
    }

    #liste-nom td{
        font-size: 0.75em;
    }

    #table-equipe td{
        font-size: 1em;
    }

    #table-equipe td button{
        font-size: 1em;
        width: 2em;
        height: 2em;
    }

    #liste-nom td{
        padding: 0.5em;    
    }
}

