html{
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}


.wrapper {
    font-family: 'Varela Round', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("../img/image-top.jpg");
}

#commencer{
    background-color: #d6d6d6e3;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 15px 5px #4444445d;
    padding: 2em;
}

main h1{
    font-size: 2em;
    text-align: center;
    margin: 0;
    padding-bottom: 0.75em;
    font-family: 'Montserrat', sans-serif; 
}

main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}

form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 23em;
}

form div{
    display: flex;
    justify-content: space-between;
}

form input{
    margin: 0 0 1em 1em ;
}

#participant{
    width: 4em;
}

#jeux{
    width: 4em;
}

h3{
    margin: 0 0 0 2em;
    font-family: 'Montserrat', sans-serif; 
    font-weight: normal;
    font-size: 0.9em;
}

#montant-famille input{
    width: 4em;
}
#famille{
    width: 18px;
    height: 18px;
}

#suivant{
    width: 100%;
    margin: 0;
}

#nom-participant{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
}

#nom-participant input{
    margin-left: 0;
    font-size: 0.75em;
    max-width: 12em;
}

#nom-jeux{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#nom-jeux input{
    margin-left: 0;
    font-size: 0.75em;
    max-width: 12em;
}

#nom-equipe{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#nom-equipe input{
    margin-left: 0;
    font-size: 0.75em;
    max-width: 12em;
}

footer{
    text-align: center;
    padding: 2em 0 0.5em 0;
    margin-top: 0.5em;
}

#suivant{
    min-height: 1em;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 25px;
    box-shadow: 0 5px #4d4d4d;
    transition: 0.15s;
}

#suivant:hover{
    background-color: #cecece;
}

#suivant:active{
    box-shadow: 0 2px #4d4d4d;
    transform: translateY(4px);
}

#suivant:focus{
    outline: none;
}

/*
 Règle à ajouter pour tablette électronique
*/
@media (min-width: 700px){

}

/*
 Règle à ajouter pour ordinateur
*/
@media (min-width: 1000px){

    #famille{
        width: 42px;
        height: 42px;
    }

    main{
        font-size: 1.75em;
    }

    main h1{
        font-size: 3.5em;
    }
}

